  .comment {
  margin-top: 32px;

  &__header {
    display: flex;
    flex-direction: row;
    font-size: 12.9px;
    margin-bottom: 8px;

    span {
      padding: 0 4px;

      &:first-child {
        padding-left: 0;
      }
    }
  }

  &__body {
    color: $gray-9;
  }

  &__item {
    position: relative;

    &::before {
      background-color: $blue-5;
      content: "";
      display: block;
      height: 100%;
      left: -16px;
      position: absolute;
      width: 1px;
    }
  }

  &__empty-state {
    text-align: center;

    p {
      font-size: 24px;
    }
    .anticon {
      color: $gray-5;
      display: block;
      margin: 0 auto;
      max-width: 90%;
      width: 160px;
    }
  }

  .ant-form-item {
    margin-bottom: 8px;
  }

  .vote {
    left: -42px;
    padding: 0;
    top: 0;
  }
}