.post {
  margin-bottom: 16px;
  padding: 8px;

  &__header {
    display: flex;
    flex-direction: row;
    font-size: 13px;
    margin-bottom: 8px;
  }

  &__category {
    .anticon {
      margin-right: 4px;
    }

    button {
      font-weight: bold;
    }

    &:hover {
      button {
        text-decoration: underline;
      }
    }
  }

  &__info {
    color: $gray-7;
    font-size: 13px;
    margin-left: 4px;
  }

  &__date,
  &__author {
    margin-left: 4px;
  }

  .vote {
    margin-left: 8px;
  }

  .ant-card-body {
    padding: 0 0 8px 40px;
  }
}