.timeline {
  &__actions {
    display: flex;
    margin-bottom: 16px;

    button {
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__empty-state {
    text-align: center;

    p {
      font-size: 24px;
    }
    .anticon {
      color: $gray-5;
      display: block;
      margin: 0 auto;
      max-width: 90%;
      width: 160px;
    }
  }
}