.vote {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 102px;
  left: 0;
  padding: 8px 4px 8px 0;
  top: 0;

  &__button {
    background: $gray-3;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: border-color .15s ease, color .15s ease;

    * {
      pointer-events: none;
    }

    &:hover {
      &:first-child {
        border-color: $blue-5;
        color: $blue-5;
      }

      &:last-child {
        border-color: $red-5;
        color: $red-5;
      }
    }

    &--active {
      &:first-child {
        border-color: $blue-6;
        color: $blue-6;
      }

      &:last-child {
        border-color: $red-6;
        color: $red-6;
      }
    }
  }

  p {
    margin: 8px 0;
  }

  &--small {
    .vote__button {
      background-color: transparent;
      padding: 1px 3px;

      &--active {
        &:first-child {
          border-color: transparent;
          color: $blue-6;
        }

        &:last-child {
          border-color: transparent;
          color: $red-6;
        }
      }
    }

    p {
      display: none;
    }
  }
}